<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in</h3>
  
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" [(ngModel)]="user.uemail"/>
                <label class="form-label" for="typeEmailX-2">Email</label>
                <span style="color: red;" *ngIf="a==1"> &nbsp; &nbsp;enter your email</span>

              </div>
              
  
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" [(ngModel)]="user.upassword"/>
                <label class="form-label" for="typePasswordX-2">Password</label>
                <span style="color: red;" *ngIf="a==2"> &nbsp; &nbsp;enter your password</span>

              </div>
  
              <!-- Checkbox -->
              
  
              <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="login()">Login</button>
  
              <hr class="my-4">

              <h6>Not a Member? <a routerLink="register">Register here</a></h6>
  
             
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

